<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu id="application" title="msg://com.company.gabinetdealcadia/menu.application.title" opened="true">
        <item view="User.list" title="msg://com.company.gabinetdealcadia.view.user/UserListView.title"/>
        <item view="Contacte.list" title="msg://com.company.gabinetdealcadia.view.contacte/contacteListView.title"/>
        <item view="Entitat.list" title="msg://com.company.gabinetdealcadia.view.entitat/entitatListView.title"/>
        <item view="Carrec.list" title="msg://com.company.gabinetdealcadia.view.carrec/carrecListView.title"/>
        <item view="EnviarCorreu" title="msg://com.company.gabinetdealcadia.view.enviarcorreu/enviarCorreu.title"/>
    </menu>

</menu-config>